.header {
    background-color: #722ed1 !important; // Фиолетовый как в дизайне
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px !important;
    height: 64px;
    line-height: 64px;
  
    .logo {
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
  
    .trialButton {
      margin-left: auto;
      margin-right: 20px;
    }
  
    .ant-menu {
      background: transparent;
      border-bottom: none;
      margin-left: 40px;
      
      .ant-menu-item {
        color: rgba(255, 255, 255, 0.8);
        
        &:hover {
          color: white !important;
        }
      }
    }
  }